@import './base/null.scss';

//! <Обнуление, сетка, параметры>
body {
    font-family: 'Rubik';
    background: #0a081f;
    color: #000;
    font-size: 14px;
    &._lock {
        overflow: hidden;
    }
}
//! </Обнуление, сетка, параметры>

//! <Основная сетка>
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
._container {
    max-width: 1420px;
    margin: 0 auto;
}
.page {
    flex: 1 1 auto;
}
//! </Основная сетка>

@import './main.scss';
